* {
    border: 1px solid red !important;
}


/*styling for the gallery pages*/
.gallery-box {
    height: 650px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.item-box {
    height: 650px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
}

.title {
    height: 100px;
}

.image {
    height: 350px;
}

.image-container {
    width:100%;
    height:60%;
    overflow:hidden;
    position: absolute;
    bottom: 0;
}

.item-header-container {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.gallery-header-container {
    margin-top: 10px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    padding: 5px;
}

.header {
    display: table-cell;
}

/*http://stackoverflow.com/questions/4151743/how-i-change-the-thickness-of-my-hr-tag*/
hr { 
    margin-top: 5px; 
    margin-bottom: 5px; 
    height: 2px; 
    border: none; 
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 10;
    color: #6f5499;
    border: 2px solid #6f5499;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #6f5499;
    color: #fff
}

.text-center > p {
    margin:10px;
}
